<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8631795686-3is1rhd6frmslk3d9bcuq0bfp6e48fhu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8631795686-3is1rhd6frmslk3d9bcuq0bfp6e48fhu</string>
	<key>API_KEY</key>
	<string>AIzaSyDw3wcadP2pyJGyZtvz1Y3HEMmiRqO9EQI</string>
	<key>GCM_SENDER_ID</key>
	<string>8631795686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jeong9216.Chameleon</string>
	<key>PROJECT_ID</key>
	<string>chameleon-a8ef2</string>
	<key>STORAGE_BUCKET</key>
	<string>chameleon-a8ef2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8631795686:ios:4415076c609e4b43d8a027</string>
</dict>
</plist>